html{
    background-color: #9CAFB7;
    
}

.score{
    display: flex;
    border: 2px solid;
    font-family: 'Nunito', serif;
    font-size: 42px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.score > .popUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 2px solid;
    
}